body {
    margin: 0;
    padding: 0;
    font-family: Times, Times New Roman, serif;
    align-items: center;
    background-color: rgb(7, 21, 34);
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: rgb(11, 11, 91);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 0.6em;
}

#content {
    margin-left: 200px;
    padding-left: 20px;
}

#sidebar h2 {
    margin-top: -260%;
    margin-left: -10px;
}
#sidebar h2::after {
    content: '';
    position: fixed;
    top: 90px;
    left: 0%;
    width: 15.5%;
    height: 2px;
    bottom: -5px;
    background: linear-gradient(to right, #fff, #00f);
}
#sidebar h2 img {
    width: 50px;
    height: auto;
    margin-right: 0px;
    vertical-align: middle;
}

#content1 {
    position: fixed;
    top: 100px;
    left: 0;
    width: 200px;
    padding-top: 20px;
    background-color: rgb(21, 21, 71);
    color: white;
}

#content1 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#sidebar #content1 a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 14px;
}

#content1 ul li {
    margin-bottom: 10px;
}

#content1 ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 5px;
}

#content1 ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

canvas#pm25-chart {
    width: 35%;
    height: 300px;
    margin-top: 300px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

#content2 {
    margin-left: 220px;
    padding: 20px;
}

#content3 {
    margin-left: 200px;
    width: 580px;
    height: 450px;
    position: absolute;
    top: 110%;
    left: -1%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#content3 canvas {
    width: 250px;
    height: 190px;
    border: 2px transparent;
    border-radius: 0%;
    background-color: rgb(9, 30, 50);
    margin: 55px;
    padding: 10px;
}

.chart-container {
    position: relative;
    display: inline-block;
    top: -160%;
    left: -2%;
}

.data-value {
    position: absolute;
    text-align: center;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 16px;
}
#content7{
    width: 500px;
    height: 350px;
    position: absolute;
    top: 110%;
    left: 15%;
}

#pm25-histogram {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

#content4 {
    margin-top: 4%;
    margin-left: 65%;
    color: white;
    background-color: transparent;
}

table {
    width: 85%;
    height: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #dddddd;
    padding: 6px;
    text-align: center;
}

table th {
    background-color: transparent;
    color: #ffffff;
}

table tr:nth-child(even) {
    background-color: rgb(9, 30, 50);
}

table tr:hover {
    background-color: #ddd;
}

#content h5 {
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
    position: absolute;
    font-weight: bold;
    top: 0%;
    font-size: 25px;
}

#content h5::after {
    content: '';
    position: absolute;
    top: 50px;
    left: -6%;
    width: 335%;
    height: 2px;
    bottom: -5px;
    background: linear-gradient(to right, #fff, rgb(3, 141, 183));
}

#content h6 {
    text-align: center;
    margin-top: 50%;
    color: #ffffff;
    position: absolute;
    top: 0%;
    font-size: 25px;
}
#content h6::after {
    content: '';
    position: absolute;
    top: 120%;
    left: -5%;
    width: 150%;
    height: 2px;
    bottom: -5px;
    background: linear-gradient(to right, #fff, rgb(3, 141, 183));
}

#content h7 {
    text-align: center;
    margin-top: 50%;
    color: #ffffff;
    position: absolute;
    top: 0%;
    left: 75%;
    font-weight: bold;
    font-size: 25px;
}
#content h7::after {
    content: '';
    position: absolute;
    top: 120%;
    left: -40%;
    width:170%;
    height: 2px;
    bottom: -5px;
    background: linear-gradient(to right, #fff, rgb(3, 141, 183));
} 
.icon-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    left: 80%;
    top:2%
  }
  
  .icon-item {
    display: flex;
    align-items: center;
    margin-right: 5px; /* Adjust margin as needed */
  }
  
  .icon {
    width: 50px;
    height: 50px;
    stroke: white; /* Mengatur garis sisi ikon menjadi putih */
    stroke-width: 2px; /* Mengatur ketebalan garis */
  }
  
  .red {
    fill: rgb(255, 0, 0);
  }
  
  .green {
    fill: green;
  }
  .yellow {
    fill: rgb(239, 255, 10);
  }
  .flashing {
    animation: flash 1s infinite alternate;
  }
  
  @keyframes flash {
    from { opacity: 1; }
    to { opacity: 0.5; }
  }
  
  .prediction-text {
    margin-right: 10px; /* Adjust margin as needed */
    font-size: 14px; /* Adjust font size as needed */
    color: rgb(255, 254, 254); /* Adjust text color as needed */
  }